body{
	background-color: #f0e4c5;
	font-family: Comic Sans MS;
}
.navbar-brand{
	text-transform: uppercase;
}
#header-nav{
	background-color: #dbac30;
	border-radius: 0;
}
h1.navbar-brand{
	margin: 20px;
	margin-left: 0px;
	color: #302a1a;
	font-size: 2em;
}
h1.navbar-brand:hover{
	color: #fff;
}
.navbar .nav>li>a{
	color: #302a1a;
	font-size: 1.6em;
	text-decoration: none;
	margin: 2px;
}
.navbar .nav>li>a:hover{
	color: #fff;
}
.navbar-header a{
	text-decoration: none;
}
.container h2{
	text-align: center;
	margin: 20px;
	font-size: 2em; 
}
.container h3{
	text-align: center;
	margin: 10px;
	font-size: 2rem;
}
.container h4 a{
	text-decoration: none;
	color: #302a1a;
	font-size: 1.6rem;
}
.container h4 a:hover{
	color: #eda93b;
}
.nav-item{
	margin: 12px;
}
#nav-list{
	text-align: center;
}
.navbar-toggler{
	margin: 10px;
	position: absolute;
	top: 25px;
	right: 10px;
}
.navbar-header button.navbar-toggler, .navbar-header .navbar-toggler-icon{
	border: 4px solid #ad8832;
}
.navbar-header button.navbar-toggler:hover{
	border: 4px solid #fff;
}